.work
    .title
        .zh 作品
        .en Work
    .content
        h2.en Art Institute Chicago
        h3
            span.en Museum
            span.zh 博物馆
        - const aic = require("../../../images/art-institute-chicago.jpg");
        img(src=aic, alt="aic")