.work
    .content
        - const ps = require("../../../images/portfolio-satu.jpg");
        img(src=ps, alt="ps")
        h2.en Portfolio Satu
        h3
            span.en Portfolio
            span.zh 文件夹