.work
    .content
        h2.en Nusantara VC
        h3
            span.en Health
            span.zh 健康
        - const nvc = require("../../../images/nusantara-vaccine-center.jpg");
        img(src=nvc, alt="nvc")