#about
    .title
        .zh 關於
        .en About
    .content.story
        p Hi, my name is Alvino Dienova. I was born and raised in Malang, Indonesia.
            |  I went to school for software engineering, but I learned most of the things from the internet and people around me.
        p Currently I'm working as a freelance full stack developer & accepting new projects from January 2021 onwards.
            |  I'm always available for interesting collaborations and fun side projects. If you would like to work together, feel free to get in touch.
        span alvinodien@yahoo.co.id / @dienoov
    .content.awards
        ul
            li NIT Competition (Finalist)
            li LKS Web Technologies Kota (1)
            li LKS Web Technologies Wilker (1)
            li LKS Web Technologies Provinsi (1)
        span More coming soon (hopefully)