#hero
    .title
        .zh 主页
        .en Home
    .content
        h1.zh
            span 迪
            span 诺
            span 瓦
        h2.en Hi, my name is Alvino Dienova, I am a full stack developer. Currently in Indonesia.
        h2.zh 你好，我的名字是迪诺瓦。我是全栈开发人员。目前身在印尼。